{% extends 'base.html.twig' %}

{% block title %}SbrambaFantacalcio Manager{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1600px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    
    .best { background: #00FF00 }

    .player-role { border-left: solid 2px black; }
    .role-first { border-top: solid 2px black; }
    .player-role:last-child { border-bottom: solid 2px black; }

    .percentage {border-right: solid 2px black;}
    
    .best-0-2 { background-color: #e67c73; }
    .best-2-4 { background-color: #f0b045; }
    .best-4-6 { background-color: #fae417; }
    .best-6-8 { background-color: #9bd752; }
    .best-8-0 { background-color: #57bb8a; }


    .totals { font-weight: bold; }

    .diff-bad { background: #f57f7f }
    .diff-good { background: #7ff583 }

</style>

<div class="example-wrapper">
    <h1>{{ squad_name }}</h1>

    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>Role</th>
            <th>Name</th>
            <th>%</th>
            {% for match_day in match_day_list %}
                <th>
                    <a href="{{ path('matchday_edit', { match_day_number: match_day.number }) }}">{{ match_day.number }}</a>
                </th>
            {% endfor %}
                <th>
                    <a href="{{ path('matchday_edit', { match_day_number: match_day_list|length + 1 }) }}">ADD</a>
                </th>
        </tr>
        </thead>
        <tbody>
        {% set role = '' %}
        {% for player in player_list %}
            <tr class="player-role role-{{ player.role|lower }} {% if role != player.role %} role-first {% endif %}" >
                <td>{{ player.role }}</td>
                <td>{{ player.name }}</td>
                <td class="percentage
                {% if player.getBestPercentage() < 0.2 %} best-0-2 
                {% elseif player.getBestPercentage() >= 0.2 and player.getBestPercentage() < 0.4 %} best-2-4 
                {% elseif player.getBestPercentage() >= 0.4 and player.getBestPercentage() < 0.6 %} best-4-6 
                {% elseif player.getBestPercentage() >= 0.6 and player.getBestPercentage() < 0.8 %} best-6-8 
                {% else %} best-8-0 {% endif %} ">{{ player.getBestPercentage()|format_percent_number }}</td>
                {% for match_day in match_day_list %}
                    <td class="{% if match_day.getVoteFor(player).getBest() %} best {% endif %}">
                        {{ match_day.getVoteFor(player).getVote() }}
                    </td>
                {% endfor %}
            </tr>
            {% set role = player.role %}
        {% endfor %}
        </tbody>
        <tfoot class="totals">
            <tr>
                <td colspan="3">Reale</td>
                {% for match_day in match_day_list %}
                    <td>{{ match_day.getResult() }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="3">Massimo</td>
                {% for match_day in match_day_list %}
                    <td>{{ match_day.getBestResult() }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="3">Differenza</td>
                {% for match_day in match_day_list %}
                    <td class="{% if match_day.getDifference() > 5 %} diff-bad {% else %} diff-good {% endif %}">{{ match_day.getDifference() }}</td>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
