{% extends 'base.html.twig' %}

{% block title %}Match {{ match_day.number }}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="mb-2">
        <h2>Match {{ match_day.number }} - {{ match_day.matchDate|date }}</h2>
        <a class="btn btn-primary mt-1" href="{{ path('matchday_edit', { match_day_number: match_day.number }) }}">Edit Match Day info</a>
        <a class="btn btn-secondary mt-1" href="{{ path('home') }}">Back to list</a>
    </div>

    <div class="float-none">
        <div class="col-sm-5 float-left">
            {{ include('match_day/_lineup.html.twig', {'player_list': selected_list, 'bench_list': selected_bench_list, 'total_label': 'Reale', 'total_value': match_day.getResult(), 'highlight_best': false}) }}
        </div>



        <div class="col-sm-5 float-right">
            {{ include('match_day/_lineup.html.twig', {'player_list': best_list, 'bench_list': best_bench_list, 'total_label': 'Massimo', 'total_value': match_day.getBestResult(), 'highlight_best': true}) }}
           
        </div>
    </div>
</div>
{% endblock %}
